body {
  font-family: "Oswald", sans-serif;
  background-color: #0a0216;
  color: white;
}

/*start 1 display*/
header {
  display: flex;
  flex-wrap: wrap;
  gap: calc(20px + 6.3vw);
  margin-top: 24px;
  padding: 0 130px;
  justify-content: center;
}

section {
  padding: 0 130px;
}

.logo {
  color: white;
  display: flex;
  flex-basis: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  height: 76px;
}

.nav {
  flex-grow: 1;
  flex-basis: 500px;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.infoMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 125%;
  margin-bottom: 60px;
}

.infoMenu a {
  color: #ffffffff;
  text-decoration: none;
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 0;
}

.inputbox {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 9px;
  width: 325px;
}

.inputbox img {
  width: 15px;
  height: 15px;
}

.inputbox input {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #ffffffff;
}

a.login {
  color: #f50395;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
}

.categories a {
  color: #ffffffff;
  text-decoration: none;
}

.choices {
  font-family: "Raleway";
  font-weight: 400;
  display: flex;
  margin-bottom: 79px;
}

/*end 1 display*/

/*start 3 display*/
h2 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 100px;
}

.images {
  display: flex;
  justify-content: space-around;
}

div .advantages1 {
  position: relative;
}

div .advantagesImg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15px;
}

.descriptionAD {
  display: flex;
  justify-content: space-around;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #fefefe;
  margin-top: 75px;
}

/*end 3 display*/
/*start brands*/
.brands {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-grow: 0;
}

.brands img {
  object-fit: none;
  margin-bottom: 228px;
}

/*end brands*/
/*news block start*/
.newsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.news {
  height: 465px;
  background-image: url(../img/news1.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 250px 100px 100px;
  grid-template-areas:
    "i i"
    "h h"
    "d b";
  position: relative;
}

.news h6 {
  grid-area: h;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  margin: 0;
  margin-left: 50px;
  width: 550px;
}

.news .date {
  grid-area: d;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 29px;
  align-self: center;
  margin-left: 77px;
}

.news .date::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 22px;
  background-image: url(../img/dateSlash.svg);
}

.news .newsButton {
  /*grid-area: b;*/
  height: 68px;
  width: 400px;
  background-image: url(../img/newsbuttonbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  font-family: "Raleway";
  font-weight: 600;
  font-style: 26px;
  line-height: 35px;
  padding: 19px 0;
  position: absolute;
  top: 394px;
  left: 415px;
}

.news:nth-child(2) {
  background-image: url(../img/news2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.news:nth-child(3) {
  background-image: url(../img/news3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.news:nth-child(4) {
  background-image: url(../img/news4.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/*news block end*/
/*section 2 start*/
.section2 {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "t i"
    "a i"
    "b z";
  background-image: url(../img/border2section.svg);
  width: 1667px;
  height: 775px;
  position: relative;
}

.titleSection2 {
  grid-area: t;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 66px;
  line-height: 120%;
  width: 560px;
  margin: 0;
  margin-left: 142px;
  margin-top: 100px;
}

.adventageSection2 {
  grid-area: a;
  font-family: "Raleway";
  line-height: 150%;
  width: 560px;
  margin: 0;
  margin-left: 142px;
  margin-top: -170px;
}

.adventageSection2 .h5 {
  font-weight: 400;
  font-size: 22px;
}

.catalogButton {
  grid-area: b;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  width: 400px;
  height: 68px;
  background-image: url(../img/newsbuttonbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding: 19px 0;
  position: absolute;
  top: -130px;
  left: 142px;
}

.imgSection2 {
  grid-area: i;
  position: absolute;
  top: 250px;
  left: 907px;
}

/*section 2 end*/
.zagsection2 {
  display: flex;
  justify-content: space-between;
}

.showallnew {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
  width: 280px;
  height: 50px;
  background-image: url(../img/ShowAll.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding: 14px 0;
  margin-top: 120px;
}

.newofferSection {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.newoffer {
  position: relative;
  width: 390px;
  height: 626px;
}

.catalogBG {
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* top: 20%; */
  z-index: 1;
  margin-bottom: 200px;
}

.catalogOffer {
  position: absolute;
  /* left: 50%; */
  /* top: 50%; */
  transform: translate(10%, 10%);
  z-index: 2;
}

.catalogLike {
  position: absolute;
  right: 0;
  transform: translate(-150%, 150%);
  z-index: 2;
}

.catalogArticule {
  position: absolute;
  z-index: 3;
  bottom: 200px;
  left: 33px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: rgba(254, 254, 254, 0.5);
}

.catalogname {
  font-family: "Oswald";
  position: absolute;
  z-index: 3;
  bottom: 150px;
  left: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  color: #f50395;
  justify-self: left;
}

.catalogPrice {
  font-family: "Jost";
  position: absolute;
  z-index: 3;
  bottom: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  width: 309px;
  height: 40px;
  padding: 0;
  margin-left: 170px;
}

.catalogGarbage {
  position: absolute;
  z-index: 3;
  bottom: 11px;
  font-family: "Jost";
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  width: 324px;
  height: 48px;
  background-image: url(../img/catalogButton.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding: 10px 0;
  margin-left: 33px;
}

.caatalogNEW {
  position: absolute;
  z-index: 3;
  left: 40%;
  transform: translate(-150%, 150%);
  z-index: 2;
  width: 64px;
  height: 26px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-image: url(../img/catalogNew.png);
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 5px;
}

/*start stocks*/
.stocks {
  display: flex;
  justify-content: space-between;
}

.stocks2 {
  position: relative;
}

.stocks2 img:nth-child(2) {
  position: absolute;
  top: 394px;
  left: 197px;
}

.stocks2 img:nth-child(3) {
  position: absolute;
  top: 394px;
  left: 292px;
}

/*end stocks*/
/*banner start*/
.banner {
  border: 5px solid #fd02d6;
  margin-top: 78px;
  margin-bottom: 180px;
  padding-left: 140px;
  padding-right: 110px;
  padding-top: 60px;
  padding-bottom: 97px;
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  position: relative;
}

.banner::before {
  content: "";
  display: block;
  width: 70px;
  height: 50px;
  background-color: #0a0216;
  background: linear-gradient(36deg,
      rgba(10, 2, 22, 1) 0%,
      rgba(10, 2, 22, 1) 47%,
      rgba(253, 2, 214, 1) 48%,
      rgba(253, 2, 214, 1) 53%,
      rgba(10, 2, 22, 1) 53%,
      rgba(10, 2, 22, 1) 100%);
  position: absolute;
  bottom: -5px;
  left: -5px;
}

.banner::after {
  content: "";
  display: block;
  width: 70px;
  height: 50px;
  background-color: #0a0216;
  background: linear-gradient(36deg,
      rgba(10, 2, 22, 1) 0%,
      rgba(10, 2, 22, 1) 47%,
      rgba(253, 2, 214, 1) 48%,
      rgba(253, 2, 214, 1) 53%,
      rgba(10, 2, 22, 1) 53%,
      rgba(10, 2, 22, 1) 100%);
  position: absolute;
  top: -5px;
  right: -5px;
}

.bannerborderright {
  background-color: #0a0216;
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.banner>div {
  flex-basis: 300px;
  flex-grow: 1;
}

h1 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 66px;
  line-height: 120%;
  margin: 0;
}

.banner p {
  font-family: "Raleway";
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 68px;
}

.btn {
  font-family: "Raleway";
  font-weight: 600;
  font-style: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  width: 400px;
  height: 68px;
  background-image: url(../img/newsbuttonbg.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.baner>div>img {
  width: 100%;
}

/*banner end*/
/*footer start*/
footer {
  background: #050000;
  padding: 140px 0px 90px;
}

.footerMenu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 130px;
}

.footerMenu a {
  font-family: 'Jost';
}

h5 {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 27px;
  color: #ff00d7;
  margin: 0;
  margin-bottom: 14px;
  margin-top: 26px;
}

footer a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  margin-top: 23px;
}

footer .logo {
  margin-bottom: 70px;
}

.subFooter {
  color: #645f5f;
  margin-top: 100px;
  border-top: 1px solid rgba(104, 104, 104, 0.5);
  padding: 0 130px;
  font-family: 'Inter';
}

.subFooter a {
  color: #645f5f;
  font-family: 'Inter';
}

.footerinfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  font-size: 20px;
  line-height: 24px;


}

.legal a {
  margin: 0;
  margin-top: 60px;
  font-family: 'Inter';
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
}

.social a {
  margin: 0;
  margin-top: 60px;
  font-family: 'Inter';
}

.subFooter span {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-top: 60px;
}

/*footer end*/

/* catalog.html start */

.breadcrumbs {
  padding: 0 130px;

}

.breadcrumbs a {
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs a::before {
  content: '/ ';
}

.breadcrumbs a:first-child::before {
  display: none;
}

body>h2 {
  margin: 0;
  padding: 0 130px;
  margin-bottom: 70px;
  margin-top: 10px;
}

main {
  padding: 0 130px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

aside {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog {
  flex-basis: 500px;
  flex-grow: 1;
}

aside a {
  display: block;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #F5F5F5;
  margin-top: 25px;
}

aside h5 {
  font-style: 32px;
  margin-bottom: 15px;
  margin-top: 50px;
}

aside label {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #F5F5F5;
  position: relative;
}

aside input {
  opacity: 0;
}

aside input[type="checkbox"]+span.checkbox {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url(../img/catalog/checkboxDisabled.png);
  background-repeat: no-repeat;
}

aside input[type="checkbox"]:checked+span.checkbox {
  width: 50px;
  height: 50px;
  background-image: url(../img/catalog/checkboxActive.png);
  background-position: 0 -7px;
  background-repeat: no-repeat;

}

.secondary {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: flex;
  width: 320px;
  height: 65px;
  background-image: url(../img/catalog/greyBtn.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.btn1 {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  width: 320px;
  height: 65px;
  background-image: url(../img/catalog/roseBtn.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 30px;
}

.subcatalog {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 35px;
}

.subcatalog>.btn1 {
  margin: 0;
  background-image: url(../img/catalog/subcatalogRoseButton.png);
  background-position: 0 -5px;
  width: 230px;
  height: 55px;
}

.subcatalog>.secondary {
  margin: 0;
  background-image: url(../img/catalog/subcatalogGrayButton.png);
  width: 230px;
  height: 55px;
}

.sort {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 52px;
  margin-top: 74px;

}

.sort span {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #E4E4E4;
  opacity: 0.7;
}

.sort>.sortBy {
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 23px;
  color: #9D9C9C;
  border-bottom: 0.7px solid #DADADA;

}

.sort>.sortBy::after {
  content: url(../img/catalog/arrowDownSort.png);
  margin-left: 10px;
  content: center;
}

.item {
  position: relative;
  width: 390px;
  height: 626px;
}

.items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 80px;
  margin-left: 58px;
  max-width: 1420px;
  flex-wrap: wrap;
  margin-bottom: 310px;

}

/* Product start */

.same {
  position: relative;
  width: 390px;
  height: 626px;
  margin-bottom: 200px;
}

.sameSection {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

/* Info delivery */
.infospan span{
  max-width: 1230px;
  display: block;
  color: #FFF;
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 500;
  line-height: 150%;
}

.infospan span::before {
  content: url(../img/catalog/checkboxActive.png);
  margin-right: 30px;

}
.infospan {
  margin-bottom: 150px;
}
.rules span {
  color: #FFF;
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 500;
  line-height: 150%;
  margin-left: 39px;
  margin-right: 12px;
}

.rules {
  background-image: url(../img/product/RuleBorder.png);
  width: 390px;
  height: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Информация  о доставке конец */













@media (max-width: 1400px) {
  .footerMenu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .footerMenu {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ПРОВЕРИТЬ ВЕРСТКУ НА ВСЕХ СТРАНИЦАХ ИЗМЕНЕН PADDING MAIN */